<!DOCTYPE html>
<html>
<head>
    <title>Manajemen Bibit dan Pupuk</title>
</head>
<body>
    <header>
        <h1>Sistem Manajemen Bibit dan Pupuk</h1>
        <nav>
            <a href="/app/model/ArrPupuk.js">Home</a>
            <a href="/app/model/ArrPupuk.js/add">Add Pupuk</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
